<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<br>
<h1>AUTOD</h1>

<table >
  <tr>
    <th>Mark</th>
    <th>Model</th>
    <th>Number Plate</th>
    <th>Release Date</th>
  </tr>
  <tr>
    <td>
      <input ng-model="vm.item.mark" id="mark">
    </td>
    <td>
      <input ng-model="vm.item.model" id="model">
    </td>
    <td>
      <input ng-model="vm.item.numberPlate" id="number-plate">
    </td>
    <td>
      <input ng-model="vm.item.releaseDate" id="release-date">
    </td>
    <td>
      <button ng-click="vm.add()" id="save-link">Add vehicle</button>
    </td>
  </tr>
</table>
</br>
</br>

<table class="list-table">
  <tr>
    <th>Mark___________</th>
    <th>Model__________</th>
    <th>Number Plate___</th>
    <th>Release Date___</th>
    <th>Entry created__</th>
    <th>Last modified__</th>
  </tr>
  <tr class="edit-link" href="#/view2" ng-repeat="item in vm.items" ng-app="">

    <td>{{ item.mark }}</td>
    <td>{{ item.model }}</td>
    <td>{{ item.numberPlate }}</td>
    <td>{{ item.releaseDate| date }}</td>
    <td>{{ item.created| date }}</td>
    <td>{{ item.modified| date }}</td>

    <td><a class="delete-link" href ng-click="vm.removeItem(item.vehicleId)">Delete</a></td>

  </tr>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</body>
</html>