<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<table >
  <tr>
    <th>First name</th>
    <th>Last Name</th>
    <th>Personal Code</th>
    <th>Date of Birth</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>
      <input ng-model="vm.item.firstname" id="firstname">
    </td>
    <td>
      <input ng-model="vm.item.lastname" id="lastname">
    </td>
    <td>
      <input ng-model="vm.item.personalCode" id="personal-code">
    </td>
    <td>
      <input ng-model="vm.item.dateOfBirth" id="date-of-birth" >
    </td>
    <td>
      <input ng-model="vm.item.age" id="age" >
    </td>
    <td>
      <button ng-click="vm.add()" id="save-link">Add person</button>
    </td>
  </tr>
</table>
<table>
</br>
  <tr>
    <td>
      <button ng-click="vm.searchByName()" id="searchByName">Search By Name</button>
    </td>
    <td>
      <input id="inputName">
    </td>
  </tr>
  <tr>
    <td>
      <button ng-click="vm.searchByCode()" id="searchByCode">Search By Personal Code</button>
    </td>
    <td>
      <input id="inputCode">
    </td>
  </tr>
</table>
</br>
<table class="list-table">
  <tr>
    <th>Firstname______</th>
    <th>Lastname_______</th>
    <th>PersonalCode___</th>
    <th>Age__</th>
    <th>Entry created__</th>
    <th>Last modified__</th>
    <th>Vehicles_______</th>
    <th>_______________</th>
  </tr>
  <tr class="edit-link" href="#/view2" ng-repeat="item in vm.items" ng-app="">

    <td>{{ item.firstname }}</td>
    <td>{{ item.lastname }}</td>
    <td>{{ item.personalCode }}</td>
    <td>{{ item.age }}</td>
    <td>{{ item.created| date }}</td>
    <td>{{ item.modified| date }}</td>

    <td><a href="#!/view2/{{item.personId}}">vehicles</a></td>
    <td><a href  ng-click="vm.markHidden(item.personId)">Mark Hidden</a></td>
    <td><a class="delete" href  ng-click="vm.removeItem(item.personId)">Delete</a></td>

  </tr>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</body>
</html>